     <% cities = %w[cityId:331216, cityId:53286, cityId:332154, cityId:2291594, cityId:341178, cityId:53264, cityId:166644, cityId:43095] %>  
  
  <div class="jumbotron">
   <h3>Recent Weather Updates</h3>
   <div class="container">
        
            <% cities.each do |city| %>
        <div class="weather-card">

            
            <% @today = Accuweather.get_conditions(location_id:"#{city}").local %>

<p><%= @today.city %>
, <%= @today.state %></p>

            <%= Accuweather.get_conditions(location_id:"#{city}").current %>
            
        </div><br>
            <% end %>
        
     </div>
     </div>