           <% @resorts.each do |resort| %>
                <div class="home-card">
                    <h2><%= link_to resort.name, resort_path(resort) %></h2>
                    <%= resort.location %>
                    <%= resort.status %><br>
                    <p>Snow Base: <%= resort.base %></p>
                </div>
            <% end %>
         
     