<%# ski_resorts = ['Alta', 'Brighton', 'Solitude', 'Park City', 'Deer Valley', 'Powder Mountain', 'Snow Basin', 'Sundance', 'Beaver Mountain', 'Snowbird']  %>


     <div class="container">
        <div class="card">
            
            <%= @resorts.each do |resort| %>
            <% end %>
         </div>
     </div>