@import "bootstrap";

body {
    background-color: rgb(21, 151, 151);
}

.home-card {
    background-color:  #3901bb;
}

.jumbotron {
    background-color: rgb(141, 9, 86);
}

.resort .card {
    background-color: #895bf5;
    padding: 8px;
}